table {
    background-color: #f2f2f2;
    color: #333333;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

tr:hover {
    background-color: #cce5ff;
}
