body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #f0f0f0;
    color: #222;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 40px 0;
}

img {
    margin: 10px;
    border-radius: 6px;
}

/* FORM INPUT STYLING */
input, textarea {
    width: 300px;
    margin: 10px 0;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
}

input[type="submit"] {
    width: auto;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}
