:root {
        --ic-brand-primary-darkened-5: #A1C03C;
--ic-brand-primary-darkened-10: #99B639;
--ic-brand-primary-darkened-15: #90AC36;
--ic-brand-primary-lightened-5: #ADCC48;
--ic-brand-primary-lightened-10: #B1CF52;
--ic-brand-primary-lightened-15: #B5D15B;
--ic-brand-button--primary-bgd-darkened-5: #459D45;
--ic-brand-button--primary-bgd-darkened-15: #3E8D3E;
--ic-brand-button--secondary-bgd-darkened-5: #DF6B23;
--ic-brand-button--secondary-bgd-darkened-15: #C7601F;
--ic-brand-font-color-dark-lightened-15: #47535C;
--ic-brand-font-color-dark-lightened-28: #636D75;
--ic-link-color-darkened-10: #0D5EA2;
--ic-link-color-lightened-10: #2677BA;
--ic-brand-primary: #A9CA3F;
--ic-brand-font-color-dark: #273540;
--ic-link-color: #0E68B3;
--ic-brand-button--primary-bgd: #48A548;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #ea7024;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #48A548;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: #ea7024;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #ea7024;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #ea7024;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #48A548;
--ic-brand-header-image: url('https://instructure-uploads-yul.s3.ca-central-1.amazonaws.com/account_179210000000000001/attachments/993724/Academy%20of%20Learning%20-%20AOLCC%20colour%20%2528h%25297738%2528RGB%2529.jpg');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads-yul.s3.ca-central-1.amazonaws.com/account_179210000000000001/attachments/993722/Academy%20of%20Learning%20-%2048x48p.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 0.1;
--ic-brand-favicon: url('https://instructure-uploads-yul.s3.ca-central-1.amazonaws.com/account_179210000000000001/attachments/993853/Academy%20of%20Learning%20-%2048x48p.ico');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-yul.s3.ca-central-1.amazonaws.com/account_179210000000000001/attachments/993792/Academy%20of%20Learning%20-%20leaf%20180x180px.png');
--ic-brand-msapplication-tile-color: #48A548;
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-yul.s3.ca-central-1.amazonaws.com/account_179210000000000001/attachments/3/Academy%20of%20Learning%20-%20Secondary%20Logo.jpg');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-yul.s3.ca-central-1.amazonaws.com/account_179210000000000001/attachments/4/Academy%20of%20Learning%20-%20Secondary%20Logo.jpg');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-yul.s3.ca-central-1.amazonaws.com/account_179210000000000001/attachments/993774/Academy%20of%20Learning%20-%20final%20logo%20RGB.jpg');
--ic-brand-Login-body-bgd-color: #ffffff;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #273540;
--ic-brand-Login-logo: url('https://instructure-uploads-yul.s3.ca-central-1.amazonaws.com/account_179210000000000001/attachments/991386/AOLCC%20logo.png');
--ic-brand-Login-Content-bgd-color: #fff;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: #fff;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: #fff;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #333;
--ic-brand-Login-Content-password-text-color: #48A548;
--ic-brand-Login-footer-link-color: #5AC8DA;
--ic-brand-Login-footer-link-color-hover: #5AC8DA;
--ic-brand-Login-instructure-logo: #ffffff;
      }